/ {
    behaviors {
        hw_soft_off: hw_soft_off {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            split-peripheral-off-on-press; // Turn peripheral off immediately for reliability
            hold-time-ms = <1000>; // Only turn off if the key is held for 2 seconds or longer.
        };
    };
};

/ {
    keys {
        compatible = "gpio-keys";
        soft_off_gpio_key: soft_off_gpio_key {
            gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

        / {
    combos {
        soft_off_waker_combo {
            timeout-ms = <50>;
            key-positions = <0 25>;
            bindings = <&soft_off_waker>;
        };
    };
};
};
