#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <90>;
    quick-tap-ms = <0>;
};

&lt {
    tapping-term-ms = <140>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <125>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 4 20 24>;
        };

        kp_double_quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <19 18>;
            layers = <4>;
        };

        kp_underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <8 9>;
            layers = <4>;
        };

        bt_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <4 31 30 3>;
        };

        bt_clr_all {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <4 31 30 2>;
        };

        bt_0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <4 31 30 20>;
        };

        bt_1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <4 31 30 21>;
        };

        bt_2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <4 31 30 22>;
        };
    };

    macros {
        vi_pm_down: vi_pm_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(J)>;
            label = "VI_PM_DOWN";
        };

        vi_pm_up: vi_pm_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(K)>;
            label = "VI_PM_UP";
        };

        vi_pm_left: vi_pm_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(H)>;
            label = "VI_PM_LEFT";
        };

        vi_pm_right: vi_pm_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(L)>;
            label = "VI_PM_RIGHT";
        };

        vi_switch_window: vi_switch_window {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp LC(W) &kp W>;
            label = "VI_SWITCH_WINDOW";
        };

        tmux_leader: tmux_switcher {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A)>;
            label = "TMUX_SWITCHER";
        };
    };

    behaviors {
        multi_quotes: multi_quotes {
            compatible = "zmk,behavior-tap-dance";
            label = "MULTI_QUOTES";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        multi_dash: multi_dash {
            compatible = "zmk,behavior-tap-dance";
            label = "MULTI_DASH";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            bindings = <
&kp Q             &kp W  &kp F           &kp P               &kp B          &kp J        &kp L                &kp U      &kp Y    &kp SEMICOLON
&mt LEFT_SHIFT A  &kp R  &kp S           &mt LEFT_COMMAND T  &kp G          &kp M        &mt RIGHT_COMMAND N  &kp E      &kp I    &mt RIGHT_SHIFT O
&lt 4 Z           &kp X  &mt LEFT_ALT C  &kp D               &kp V          &kp K        &kp H                &kp COMMA  &kp DOT  &lt 3 SLASH
                                         &mt LCTRL ESCAPE    &lt 2 ENTER    &lt 1 SPACE  &kp BACKSPACE
            >;
        };

        navigation {
            bindings = <
&none  &kp F7  &kp F8  &kp F9  &kp F10    &vi_switch_window  &kp PAGE_UP  &kp UP_ARROW  &kp PAGE_DOWN  &none
&none  &kp F4  &kp F5  &kp F6  &kp F11    &none              &kp LEFT     &kp DOWN      &kp RIGHT      &kp RIGHT_SHIFT
&none  &kp F1  &kp F2  &kp F3  &kp F12    &tmux_leader       &none        &none         &none          &trans
                       &trans  &trans     &trans             &trans
            >;
        };

        numeric {
            bindings = <
&kp N6      &kp N7  &kp N8  &kp N9  &kp N0    &none   &none      &kp LC(K)  &none      &none
&kp N1      &kp N2  &kp N3  &kp N4  &kp N5    &none   &kp LC(H)  &kp LC(J)  &kp LC(L)  &none
&kp KP_DOT  &none   &none   &none   &none     &none   &none      &none      &none      &none
                            &trans  &trans    &trans  &trans
            >;
        };

        left_symbol {
            bindings = <
&kp AT_SIGN      &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET    &none         &none   &none  &none  &none
&kp EXCLAMATION  &none     &none       &none        &none        &none         &none   &none  &none  &none
&kp GRAVE        &none     &none       &none        &none        &tmux_leader  &none   &none  &none  &trans
                                       &trans       &trans       &trans        &trans
            >;
        };

        right_symbol {
            bindings = <
&none           &none  &none  &none   &none     &kp AMPERSAND   &kp ASTERISK     &kp LPAR          &kp RPAR           &multi_dash
&kp LEFT_SHIFT  &none  &none  &none   &none     &kp BACKSLASH   &none            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &multi_quotes
&none           &none  &none  &none   &none     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LESS_THAN     &kp GREATER_THAN   &kp EQUAL
                              &trans  &trans    &trans          &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp C_BRIGHTNESS_INC  &trans  &kp C_VOLUME_UP    &kp C_NEXT        &kp LA(LG(SPACE))
&trans  &trans  &trans  &trans  &trans    &kp C_BRIGHTNESS_DEC  &trans  &kp C_VOLUME_DOWN  &kp C_PREVIOUS    &trans
&trans  &trans  &trans  &trans  &trans    &trans                &trans  &kp C_MUTE         &kp C_PLAY_PAUSE  &trans
                        &trans  &trans    &trans                &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        function_layer {
            if-layers = <1 2>;
            then-layer = <5>;
        };
    };
};
