#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        layer_4 {
            bindings = <&mo 4>;
            key-positions = <30 31 32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q             &kp W       &kp F        &kp P         &kp B        &kp J      &kp L            &kp U        &kp Y            &kp SEMI
&mt LEFT_SHIFT A  &mt LALT R  &mt LCTRL S  &mt LGUI T    &kp G        &kp M      &mt RGUI N       &mt RCTRL E  &mt RIGHT_ALT I  &mt RIGHT_SHIFT O
&kp Z             &kp X       &kp C        &kp D         &kp V        &kp K      &kp H            &kp COMMA    &kp DOT          &kp FSLH
                                           &lt 1 ESCAPE  &kp ENTER    &kp SPACE  &lt 0 BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&kp LG(TAB)             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans    &trans    &trans    &trans  &trans     &trans
&mt LSHIFT LG(LS(TAB))  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&kp KP_NUMBER_0         &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans    &trans    &trans    &trans  &trans     &trans
                                                          &trans           &trans    &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                                                     &trans  &trans    &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp F6   &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &kp F11    &kp F12  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans   &trans  &trans  &trans  &trans
                        &trans  &trans     &trans   &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer_3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

