#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0>;
        };

        kp_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <11 12>;
            layers = <1>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 4>;
            layers = <3>;
        };

        soft_off_left {
            bindings = <&soft_off>;
            key-positions = <20 4>;
            layers = <0>;
        };

        soft_off_right {
            bindings = <&soft_off>;
            key-positions = <5 29>;
            layers = <0>;
        };
    };

    macros {
        vi_pm_down: vi_pm_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp J>;
            label = "VI_PM_DOWN";
        };

        vi_pm_up: vi_pm_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp K>;
            label = "VI_PM_UP";
        };

        vi_pm_left: vi_pm_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp H>;
            label = "VI_PM_LEFT";
        };

        vi_pm_right: vi_pm_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp L>;
            label = "VI_PM_RIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            bindings = <
&kp Q             &kp W       &kp F  &kp P         &kp B        &kp J      &kp L            &kp U      &kp Y            &kp SEMI
&mt LEFT_SHIFT A  &mt LALT R  &kp S  &mt LGUI T    &kp G        &kp M      &mt RGUI N       &kp E      &mt RIGHT_ALT I  &mt RIGHT_SHIFT O
&kp Z             &kp X       &kp C  &mt LCTRL D   &kp V        &kp K      &mt RCTRL H      &kp COMMA  &kp DOT          &kp FSLH
                                     &lt 1 ESCAPE  &kp ENTER    &kp SPACE  &lt 2 BACKSPACE
            >;
        };

        numeric {
            bindings = <
&kp KP_DIVIDE    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS    &none   &none        &vi_pm_up    &none         &none
&kp KP_MULTIPLY  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS     &none   &vi_pm_left  &vi_pm_down  &vi_pm_right  &none
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT      &none   &none        &none        &none         &none
                                                   &trans           &trans          &trans  &trans
            >;
        };

        symbols {
            bindings = <
&kp LEFT_BRACE        &kp LESS_THAN  &kp UP_ARROW    &kp GREATER_THAN  &kp RIGHT_BRACE          &kp BACKSLASH  &kp MINUS   &kp UNDER          &kp ASTERISK  &kp PLUS
&kp LEFT_PARENTHESIS  &kp LEFT       &kp DOWN_ARROW  &kp RIGHT         &kp RIGHT_PARENTHESIS    &kp EXCL       &kp APOS    &kp DOUBLE_QUOTES  &kp GRAVE     &kp EQUAL
&kp LEFT_BRACKET      &kp PAGE_DOWN  &kp PIPE        &kp PAGE_UP       &kp RIGHT_BRACKET        &kp TILDE      &kp DOLLAR  &kp AT             &kp PERCENT   &kp AMPS
                                                     &trans            &trans                   &trans         &trans
            >;
        };

        function {
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4      &kp F5            &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&soft_off  &none   &none   &none       &kp F11           &kp F12       &none         &none         &none         &soft_off
&none      &none   &none   &bt BT_CLR  &bt BT_CLR_ALL    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                           &none       &none             &none         &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        function_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
